<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="template.css">
    <script type="text/javascript" src="{% static 'validation.js' %}" ></script>
    <meta charset="UTF-8">
    <title>Chatdashboard User Registration</title>
</head>
<body>
    {% if user.is_authenticated %}
    
        <p>Login Successful! <br />
            You are currently logged in as {{user}}
        </p>
    {% else %}
    <form method="post" name="LoginForm" onSubmit="return validateLoginForm();" >
        {% csrf_token %}
        <table>
        	<tr>
                <td>
                    <label>Please Enter your username and password.</label>
                </td>
            </tr>
            <tr>
        		<td>
        			<input type="text" name="username" placeholder="User Name" required>
        		</td>
        	</tr>
        	<tr>
        		<td>
        			<input type="text" name="password" placeholder="Password" required>
        		</td>
        	</tr>
        	<tr>
        		<td>
        			<input type="submit" value="Login">
        		</td>
        	</tr>
        </table>
    </form>
    {% endif %}

    
    
    <div id='regform_errorloc' class='error_strings'>
        {% if all_messages %}
            {% for message in all_messages %}
                <li>{{ message }}</li>
            {% endfor %}
        {% endif %}

    </div>
</body>
</html>