<html>
<head lang="en">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'template.css' %}">
    <script type="text/javascript" src="{% static 'validation.js' %}" ></script>
    <meta charset="UTF-8">
    <title>Chatdashboard Password Functions</title>

</head>
<body>
	{% include "header.html"%}
	<div class="cdbody">
		<h1>{{screen_title}}</h1>

		<form method="POST" name="ChangePasswordForm" onSubmit="return validatePasswordForm();" >
			{% csrf_token %}
			<table>
				{% if form_type == "changepassword" %}
				<tr>
					<td>
						<input type="text" name="username" placeholder="Username" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="password" name="current_password" placeholder="Current Password" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="password" name="password" placeholder="New Password" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="password" name="password2" placeholder="Confirm New Password" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="password_action" value="Change Password">
					</td>
				</tr>
				{% elif form_type == "resetpassword" %}
				<tr>
					<td>
						<input type="text" name="username" placeholder="Username" required />
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="password_action" value="Reset Password">
					</td>
				</tr>
				{% elif form_type == "resetpinsuccessful" %}
				<tr>
					<td>
						<input type="password" name="password" placeholder="New Password" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="password" name="password2" placeholder="Confirm New Password" required>
					</td>
				</tr>
				<tr>
					<td>
						<input type="hidden" name="username" value="{{reset_username}}" >
						<input type="hidden" name="pin" value="{{reset_pin}}" >

						<input type="submit" name="password_action" value="Reset My Password">
					</td>
				</tr>
				{% elif form_type == "checkemail" %}
				<tr>
					<td>
						Please check your email for the reset link.
					</td>
				</tr>
				{% endif %}
			</table>
		</form>

		<div id="passfuncsform_messageloc" class="message_strings">
			{% if messages %}
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
			{% endif %}
		</div>
		
		<div id='passfuncsform_errorloc' class='error_strings'>
			{% if error_messages %}
				{% for message in error_messages %}
					<li>{{ message }}</li>
				{% endfor %}
			{% endif %}

		</div>

		<script>
			function validatePasswordForm() {
				var formValid = true;            
				var errorString = "";

				if ({{form_type}} == "resetpassword"){
					if (RegistrationForm.username.value === null) {
						formValid = false;
						errorString += "<li>Please Enter a username.</li>";
					}

					if (RegistrationForm.password.value === null) {
						formValid = false;
						errorString += "<li>Please Enter a password.</li>";
					}

					if (RegistrationForm.password2.value === null) {
						formValid = false;
						errorString += "<li>Please Enter a verification password.</li>";
					}

					if (RegistrationForm.password.value !== RegistrationForm.password2.value) {
						formValid = false;
						errorString += "<li>Passwords don't match.</li>";
					}

					if (!validatePassword(RegistrationForm.password.value)) {
						formValid = false;
						errorString += "<li>Passwords must have at least one lowercase letter, one uppercase letter, and one number.</li>";
					}

					if (!validateEmail(RegistrationForm.email.value)) {
						formValid = false;
						errorString += "<li>Please enter a valid email.</li>";
					}

					regform_errorloc.innerHTML = errorString;
				}
				return formValid;
			}

		</script>
	</div>
	{% include "footer.html"%}
</body>
</html>