<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="template.css">
    <script type="text/javascript" src="{% static 'validation.js' %}" ></script>
    <meta charset="UTF-8">
    <title>Chatdashboard User Registration</title>
</head>
<body>

    <form method="post" name="UserActionForm" onSubmit="return validateRegistrationForm();">
        <table>
        	<tr>
                <td>
                    <label>Please Username and Command:</label>
                </td>
            </tr>
            <tr>
        		<td>a
        			<input type="text" name="username" placeholder="User Name" required>
        		</td>
        	</tr>
        	<tr>
        		<td>
                    <input type="radio" name="useraction" value="delete">Delete
        		</td>
        	</tr>
        	<tr>
        		<td>
        			<input type="submit" value="SubmitUserAction">
        		</td>
        	</tr>
        </table>
    </form>

    <div id='regform_errorloc' class='error_strings'>
        {% if all_users %}
        <table id="usertable">
            {% for user in all_users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No Users Found!</p>
        {% endif %}     

    </div>   

</body>
</html>