<div name="UserActionForm" id="UserActionForm"  {% if actionselected != "user" %} style="display:none" {% endif %}>
	<form method="post" >
		{% csrf_token %}
		<table>
			<tr>
				<td>
					<label>Please Select Username and Command:</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type="text" name="username" id="usernameText" style="display:none" placeholder="User Name" /><br />
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<label>Commands:</label>
				</td>
			</tr>
			<tr>
				<td>
					<input type="radio" name="adminaction" value="viewactiveusers" onClick="changeUserAction()" />View Active Users
				</td>
			</tr>
			<tr>
				<td>
					<input type="radio" name="adminaction" value="viewsiteadmins" onClick="changeUserAction()"/>View Site Admins
				</td>
			</tr>
			<tr>
				<td>
					<input type="radio" name="adminaction" value="viewusers" onClick="changeUserAction()"/>View All Users
				</td>
			</tr>
			<tr>
				<td>
					<input type="radio" name="adminaction" value="setadmin" onClick="changeUserAction()"/>Set Site Admin Permissions
				</td>
			</tr>
			<tr>
				<td>
					<input type="radio" name="adminaction" value="removeadmin" onClick="changeUserAction()"/>Remove Site Admin Permissions
				</td>
			</tr>
			<tr>
				<td>
					<input type="radio" name="adminaction" value="delete" onClick="changeUserAction()"/>Delete User
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td>
					<input type="submit" value="Submit Admin Action" />
				</td>
			</tr>
			<tr><td>&nbsp;</td></tr>
		</table>
	</form>
		
	<div id='message_strings' >
		{% if ursfound and actionselected = "user" %}
			<table id="usertable">
					<tr>
						<td style="font-weight:bold;">Username</td>
					</tr>
				{% for usr in ursfound %}
					<tr>
						<td>{{ usr }}</td>
					</tr>
				{% endfor %}
			</table>
		{% else %}
			<p>No Users Found!</p>
		{% endif %}  

	</div> 
</div>

<script>
			function changeUserAction() {
				var usernameText = document.getElementById("usernameText");
				var selectedActionsRadios = document.getElementsByName("adminaction");
				var selectedAction = "";
				var radlength = selectedActionsRadios.length;
				
				for (var i = 0;  i < radlength; i++) {
					if (selectedActionsRadios[i].checked) {
						selectedAction = selectedActionsRadios[i].value;
						// only one radio can be logically checked, don't check the rest
						break;
					}
				}
				
				switch (selectedAction)
				{
					case "viewactiveusers":
						usernameText.style.display = 'none';
						break;
					case "viewsiteadmins":
						usernameText.style.display = 'none';
						break;
					case "viewusers":
						usernameText.style.display = 'none';
						break;
					case "setadmin":
						usernameText.style.display = 'block';
						break;
					case "removeadmin":
						usernameText.style.display = 'block';
						break;
					case "delete":
						usernameText.style.display = 'block';	
				}
			}
		</script>