<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'template.css' %}">
    <title>Dashboard</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>
          var socket;
          var host = "ws://localhost:1025/ws";

          var windowToDelete;

// Move to its own file later
$(document).ready(function() {
      connect();
      showTopics();

      function showTopics(){
          var topicNamesList = "{{ topic_names }}"
          console.log("topicNamesList is " + topicNamesList)
          {% for topic in topic_names %}
              addTopicWindow("{{ topic.topic_title }}")
          {% endfor %}
      }

      function connect(){

          try{
              socket = new WebSocket(host);

              displayMessage('<p class="event">Connecting... ');

              socket.onopen = function(){
                 displayMessage('<p class="event">Connected!');
              }

              socket.onmessage = function(msg){
              console.log("Template got msg: " + msg.data)
              var topicWindowMessageSplit = msg.data.split(":-:")
              if (topicWindowMessageSplit.length > 1) {
                // this is a message concerning topic window addition/removal
                 var dashTemp = String(topicWindowMessageSplit[0]);
                 var dashboard = dashTemp.split("\)>")[1];
                 var topicWindowName = topicWindowMessageSplit[1];
                 var action = topicWindowMessageSplit[2];
                 if (action.trim() == "add") {
                    addTopicWindow(topicWindowName)
                 }
                 else {
                     //action is remove
                     removeTopicWindow(topicWindowName)
                 }
              }
              else {
              // message is a chat message
                 var msgcomponents = msg.data.split("::");
                 var dashTemp = String(msgcomponents[0]);
                 var dashboard = dashTemp.split("\)>")[1];
                 var topicname = msgcomponents[1];
                 console.log("I'm sending this to: " + topicname)
                 var username = msgcomponents[2];
                 var userMessage = msgcomponents[3];
                 console.log("topic is " + topicname)
                 var stringToDisplay = '<p class="message">' + username + ': ' + userMessage;
                 var dashTitle = String("{{dashboard.title}}")
                 if(dashboard.trim() == dashTitle.trim()) {
                    displayMessage(stringToDisplay, topicname);
                 }
              }
              }

              socket.onclose = function(){
                 displayMessage('<p class="event">Lost connection.');
              }

          } catch(exception){
             displayMessage('<p>Error'+exception);
          }



          $('.textbox').keypress(function(event) {
              if (event.keyCode == '13') {
                var id = $(event.target).attr("id")// get attribute for the textbox pressed
                var text = $(event.target).val()
                send(id, text);
                $(event.target).val("");
              }
          });

          $('.addTopicWindow').keypress(function(event) {
              if (event.keyCode == '13') {
                var id = $(event.target).attr("id")// get attribute for the textbox pressed
                var text = $(event.target).val()
                send_add_topic_window(text)
                $(event.target).val("");
                $('.addTopicWindow').remove();
              }
          });

          $('#disconnect').click(function(){
             socket.close();
          });

      }//End connect
});

         function send_add_topic_window(name){
              var dashboardname = "{{ dashboard.title }}"
              var dashboardAddCommandMsg = dashboardname + ":-:" + name + ":-:" + "add"
              console.log("Sending topic window add message: " + dashboardAddCommandMsg);
              try {
                  socket.send(dashboardAddCommandMsg);
              }
              catch(exception) {
                 displayMessage('<p class="warning">');
              }
         }

         function send_delete_topic_window(){
              var name = windowToDelete
              var dashboardname = "{{ dashboard.title }}"
              var dashboardAddCommandMsg = dashboardname + ":-:" + name + ":-:" + "delete"
              try {
                  socket.send(dashboardAddCommandMsg);
              }
              catch(exception) {
                 displayMessage('<p class="warning">');
              }
         }

         function send(topicname, text){
              var username = "{{ user }}"
              var dashboardname = "{{ dashboard.title }}"
              var textToSend = dashboardname + "::" + topicname + "::" + username + "::" + text

              if(text==""){
                  displayMessage('<p class="warning">Please enter a message');
                  return ;
              }
              try{
                  socket.send(textToSend);
              } catch(exception){
                 displayMessage('<p class="warning">');
              }
          }

          function displayMessage(msg, topicname){
            $('.'+ topicname + ' > #chatLog').append(msg+'</p>');
          }

        function promptForNewTopicWindow() {
            var topicWindowString = '<div class="addTopicWindow">' + "Name of new topic:" +
            ' </div><input class="addTopicWindow"  type="text" name="message" placeholder="Message">';

            $('.cdbody').append(topicWindowString);

            $('.cdbody > .addTopicWindow').bind('keypress', function(event) {
              if (event.keyCode == '13') {
                var id = $(event.target).attr("id")// get attribute for the textbox pressed
                console.log("Event: " + event)
                var text = $(event.target).val()
                console.log("New topic window name: " + text)
                send_add_topic_window(text)
                $(event.target).val("");
                $('.addTopicWindow').remove();
              }
          });

          }

          function addTopicWindow(displayTopicWindowName) {

            var sanitizedTopicWindowName = displayTopicWindowName.replace(/ /g, "---");
            //var sanitizedTopicWindowName = displayTopicWindowName
            console.log("Topic window name: " + sanitizedTopicWindowName)
            var topicWindowString = '<div class="' + sanitizedTopicWindowName + '">' +
            displayTopicWindowName +
            '   <a href="javascript:windowToDelete = \'' + sanitizedTopicWindowName + '\'\;send_delete_topic_window()">(X)</a>' +
            '<div id="chatLog"></div><input class="textbox" id="' +
            sanitizedTopicWindowName +
            '" type="text" name="message" placeholder="Message"></div>';

            $('.cdbody').append(topicWindowString);
            console.log("Adding a new topic window with name: " + sanitizedTopicWindowName)

            $('.cdbody .textbox').bind('keypress', (function(event) {
            console.log("Keypress event on new window")
              if (event.keyCode == '13') {
                var id = $(event.target).attr("id")// get attribute for the textbox pressed
                var text = $(event.target).val()
                send(id, text)
                $(event.target).val("");
              }
          }));
          }

          function removeTopicWindow(displayTopicWindowName) {
            console.log("Removing topic window: " + displayTopicWindowName);
            windowToDelete = displayTopicWindowName
            var sanitizedTopicWindowName = displayTopicWindowName.replace(/ /g, "---");
            //var sanitizedTopicWindowName = displayTopicWindowName

            $('.cdbody ' + '.' + sanitizedTopicWindowName).remove();
          }

    </script>
</head>
<body>
	{% include "header.html"%}
	<div class="cdbody">
		<h1>You found {{ dashboard.title }}</h1>
	</div>
<p>
    <a href="javascript:promptForNewTopicWindow()">Add New Topic Window</a><br />
    <a href="/DashboardPermissions/?dashboard={{dashboard.title}}">Dashboard Actions</a>
</p>
	{% include "footer.html"%}
</body>
</html>