<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'template.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'report.css' %}">
    <script type="text/javascript" src="{% static 'validation.js' %}" ></script>
    <meta charset="UTF-8">
    <title>{{dashboard.title}} User Administration</title>
</head>
<body>
	{% include "header.html"%}
	<div class="cdbody">
		
		<form method="post" name="LoginForm" onSubmit="return validateLoginForm();" >
			{% csrf_token %}
			<input type="hidden" name="dashboard" id ="dashboardHidden" value="{{dashboard.title}}" />
			<input type="hidden" name="action_user" id="userHidden"/>
			<input type="hidden" name="user_permission" id="permissionHidden" value="user" />
			<input type="hidden" name="dashboard_action" id ="actionHidden" value="change_permissions" />
			<input type="hidden" name="actionType" id ="actionType" value="{{request_type}}" />
            <label>Type of Action:</label>
			<select name="actionTypeSelect" id="actionTypeSelect" onchange="changeActionType();">
                {% if user_perm_level == 'admin' %} <option value="userchangetable" {% if request_type == "userchangetable" %} selected {% endif %} >Change/Remove User</option> {% endif %}
                <option value="useraddtable" {% if request_type == "useraddtable" %} selected {% endif %} >Add User</option>
                <option value="topicaddtable"{% if request_type == "topicaddtable" %} selected {% endif %} >Add/Remove Topics</option>
                {% if user_perm_level == 'admin' %} <option value="metricstable"{% if request_type == "metricstable" %} selected {% endif %} >Metrics Report</option> {% endif %}
            </select>

			<div id="userchangetable" {% if request_type != "userchangetable" %} style="display:none" {% endif %}>
                <div class="table">
                    <div class="col"> </div>
                    <div class="col"> </div>
                    <div class="col"> </div>
                    <div class="col"> </div>
                    <div class="col"> </div>
                    <div class="row">
                        <div class="cell">Username</div>
                        <div class="cell">Privilege</div>
                        <div class="cell">Action</div>
                        <div class="cell">Privilege to Set</div>
                        <div class="cell"> </div>
                    </div>

                {% if user_permissions %}
                    {% for userpriv in user_permissions %}
                            <div class="row">
                                <div class="cell">{{userpriv.user}}</div>
                                <div class="cell">{{userpriv.privilege}}</div>
                                <div class="cell"><select name="formAction" id="formActionSelect{{userpriv.user}}" onchange="changeFormAction('{{userpriv.user}}')">
                                        <option value="change_permissions">Change Permissions</option>
                                        <option value="delete_user">Delete User</option>
                                    </select>
                                </div>
                                <div class="cell" ><select name="userPrivilegeSelect" id="userPrivilegeSelect{{userpriv.user}}" onchange="changeUserPrivilegeSelect('{{userpriv.user}}')">
                                        <option value="user">User</option>
                                        <option value="admin">Admin</option>
                                    </select>
                                </div>
                                <div class="cell">
                                    <input type="submit" onsubmit="addActionUserSubmit('{{userpriv.user}}')" onclick="addActionUserSubmit('{{userpriv.user}}')" onkeypress="addActionUserSubmit('{{userpriv.user}}')"/>
                                </div>
                            </div>
                    {% endfor %}
                {% endif %}

                <br />
                <br />
                    
                </div>
            </div>
			
			<div id="useraddtable" {% if request_type != "useraddtable" %} style="display:none" {% endif %}>
				<div class="row">
                        <div class="cell">
                            Username: <input type="text" id="newUserInput" placeholder="New User" />
                        </div>
                        <div class="cell">
                            Privilege: <select name="addUserPrivilegeSelect" id="addUserPrivilegeSelect" onchange="changeAddUserPrivilegeSelect()">
                                        <option value="user">User</option>
                                        {% if user_perm_level == 'admin' %}<option value="admin">Admin</option> {% endif %}
                                    </select>
                        </div>
                        <div class="cell">
                            <input type="submit" name="userActionSelect" onsubmit="addUserSubmit()" onclick="addUserSubmit()" onkeypress="addUserSubmit()"/>
                        </div>
                        <div class="cell"> </div>
                        <div class="cell"> </div>
                </div>
				{% if user_permissions %}
				<div class="table">
                    <div class="col"> </div>
                    <div class="col"> </div>
                    <div class="col"> </div>
                    <div class="col"> </div>
                    <div class="col"> </div>
                    <div class="row">
                        <div class="cell">Username</div>
                        <div class="cell">Privilege</div>
                        <div class="cell"> </div>
                        <div class="cell"> </div>
                        <div class="cell"> </div>
                    </div>
					{% for userpriv in user_permissions %}
						<div class="row">
							<div class="cell">{{userpriv.user}}</div>
							<div class="cell">{{userpriv.privilege}}</div>
						</div>
					{% endfor %}
				</div>
				{% endif %}	
			</div>
			
			<div id="topicaddtable" {% if request_type != "topicaddtable" %} style="display:none" {% endif %}>
				<input type="text" name="topic" placeholder="Topic Title" />
				<input type="submit" name="addTopicSubmit" value="Add Topic" onsubmit="onTopicSubmit('add')" onclick="onTopicSubmit('add')" onkeypress="onTopicSubmit('add')"/>
				<input type="submit" name="removeTopicSubmit" value="Remove Topic" onsubmit="onTopicSubmit('remove')" onclick="onTopicSubmit('remove')" onkeypress="onTopicSubmit('remove')" />
				
				<h2>Current Topics</h2>
				{% if topictitles %}
					{% for topictitle in topictitles %}
						<li>{{ topictitle.topic_title }}</li>
					{% endfor %}
				{% endif %}
			</div>

            <div id="metricstable" {% if request_type != "metricstable" %} style="display:none" {% endif %}>
				<table>
					<tr>
						<td><div class="bufferdiv">Report Start Date: <input type="date" name="metricStartDate" class="bufferinput" /></div></td>
					</tr>
					<tr>
						<td><div class="bufferdiv">Report End Date: <input type="date" name="metricEndDate" class="bufferinput" /></div> </td>
					</tr>
					<tr>
						<td><div class="bufferdiv"><input type="submit" name="metricsReportSubmit" class="bufferinput" onsubmit="onmetricsReportSubmit()" onclick="onmetricsReportSubmit()" onkeypress="onmetricsReportSubmit()"/></div> </td>
					</tr>
				</table>
			   {% include "reports.html"%}
            </div>
		</form>



		<div id="passfuncsform_messageloc" class="message_strings">
			{% if show_messages %}
				{% for message in show_messages %}
					<li>{{ message }}</li>
				{% endfor %}
			{% endif %}
		</div>
		
		<div id='regform_errorloc' class='error_strings'>
			{% if error_messages %}
				{% for message in error_messages %}
					<li>{{ message }}</li>
				{% endfor %}
			{% endif %}

		</div>
	</div>
	{% include "footer.html"%}

    <script>
        function changeFormAction(username) {
            var myselect = document.getElementById("formActionSelect" + username);
            var actionHidden = document.getElementById("actionHidden");
            var userHidden = document.getElementById("userHidden");
			var myPrivSelect = document.getElementById("userPrivilegeSelect" + username);

            var selectedValue = myselect.options[myselect.selectedIndex].value;
            userHidden.value = username;

            if (selectedValue === "change_permissions") {
                var myPrivSelect = document.getElementById("userPrivilegeSelect" + username);
                myPrivSelect.disabled = false;
				myPrivSelect.visible = true;
                actionHidden.value = selectedValue;
            } else {
                if (selectedValue === "delete_user") {
                    actionHidden.value = selectedValue;
					myPrivSelect.visible = false;
					myPrivSelect.disabled = true;
                }
            }
        }

        function changeActionType() {
            var myselect = document.getElementById("actionTypeSelect");
            var userchangetable = document.getElementById("userchangetable");
            var useraddtable = document.getElementById("useraddtable");
            var topicaddtable = document.getElementById("topicaddtable");
            var metricstable = document.getElementById("metricstable");
            var actionType = document.getElementById("actionType");

            var selectedValue = myselect.options[myselect.selectedIndex].value;
			actionType.value = selectedValue;

			switch (selectedValue) {
				case "userchangetable":					
					userchangetable.style.display = "block";
					topicaddtable.style.display = "none";
					useraddtable.style.display = "none";
					metricstable.style.display = "none";
					break;
				case "metricstable":
					userchangetable.style.display = "none";
				    topicaddtable.style.display = "none";
					useraddtable.style.display = "none";
					metricstable.style.display = "block";
					break;
				case "useraddtable":
					userchangetable.style.display = "none";
				    topicaddtable.style.display = "none";
					useraddtable.style.display = "block";
					metricstable.style.display = "none";
					break;
				case "topicaddtable":
					userchangetable.style.display = "none";
				    topicaddtable.style.display = "block";
					useraddtable.style.display = "none";
					metricstable.style.display = "none";
					break;
			}
        }



        function changeUserPrivilegeSelect(username) {
            var permissionHidden = document.getElementById("permissionHidden");
            var myPrivSelect = document.getElementById("userPrivilegeSelect" + username);

            var selectedValue = myPrivSelect.options[myPrivSelect.selectedIndex].value;

            permissionHidden.value = selectedValue;
            
        }
		
		function addActionUserSubmit(username){			
            var userHidden = document.getElementById("userHidden");
			userHidden.value = username;
		}

        function changeAddUserPrivilegeSelect() {
            var permissionHidden = document.getElementById("permissionHidden");
            var myPrivSelect = document.getElementById("addUserPrivilegeSelect");

            var selectedValue = myPrivSelect.options[myPrivSelect.selectedIndex].value;

            permissionHidden.value = selectedValue;

        }
		
		function onmetricsReportSubmit(){
            var actionHidden = document.getElementById("actionHidden");
            actionHidden.value = "viewmetricsreport";
		}
		
		function onTopicSubmit(transactionType){
			var actionHidden = document.getElementById("actionHidden");
			if (transactionType == "add") {
				actionHidden.value = "add_topic";
			} else{
				if (transactionType == "remove"){
					actionHidden.value = "deactivate_topic";
				}
			}
		}

        function addUserSubmit() {
            var myUserInput = document.getElementById("newUserInput");
            var myPrivSelect = document.getElementById("addUserPrivilegeSelect");


            var actionHidden = document.getElementById("actionHidden");
            var userHidden = document.getElementById("userHidden");
            var permissionHidden = document.getElementById("permissionHidden");
            
            userHidden.value = myUserInput.value;
            actionHidden.value = "add_user";
            permissionHidden.value = myPrivSelect.options[myPrivSelect.selectedIndex].value;
        }
    </script>

</body>