<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'template.css' %}">
    <title>Dashboard</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script>
          var socket;
          var host = "ws://localhost:1025/ws";

          var windowToDelete;

    function disconnect() {
        console.log("disconnecting")
        send_user_disconnected('{{ user }}')
        socket.close();
    };

$(document).ready(function() {



      connect();
      showTopics();
      showConnectedUsers();

      function showTopics(){
          var topicNamesList = "{{ topic_names }}"
          console.log("topicNamesList is " + topicNamesList)
          {% for topic in topic_names %}
              addTopicWindow("{{ topic.topic_title }}")
          {% endfor %}
      }

      function showConnectedUsers(){
          var connectedUsers = "{{ connected_users }}"
          {% for user in connectedUsers %}
              userConnected("{{ user }}")
          {% endfor %}
      }

      function connect(){

          try{
              socket = new WebSocket(host);

              displayMessage('<p class="event">Connecting... ');

              socket.onopen = function(){
                 displayMessage('<p class="event">Connected!');

                 send_user_connected('{{ user }}')
              }

              socket.onmessage = function(msg){
              console.log("Template got msg: " + msg.data)
              var topicWindowMessageSplit = msg.data.split(":-:")
              if (topicWindowMessageSplit.length > 1) {
                // this is a message concerning topic window addition/removal
                 var dashTemp = String(topicWindowMessageSplit[0]);
                 var dashboard = dashTemp.split("\)>")[1];
                 var topicWindowName = topicWindowMessageSplit[1];
                 var action = topicWindowMessageSplit[2];
                 if (action.trim() == "add") {
                    addTopicWindow(topicWindowName)
                 }
                 else {
                     //action is remove
                     removeTopicWindow(topicWindowName)
                 }
              }
              else {
              var userConnectionEventSplit = msg.data.split(":--:")

                if (userConnectionEventSplit.length > 1) {
                    console.log(msg.data)
                    //user connect/disconnect event
                    var dashTemp = String(userConnectionEventSplit[0]);
                    var dashboard = dashTemp.split("\)>")[1];
                    var username = userConnectionEventSplit[1];
                    var action = userConnectionEventSplit[2];
                    console.log("dashboard is " + dashboard)
                    console.log("username is " + username)
                    console.log("action is " + action)
                 if (action.trim() == "connect") {
                    userConnected(username)
                 }
                 else {
                     //action is a disconnect
                     userDisconnected(username)
                 }
                }

              else {
              // message is a chat message
                 var msgcomponents = msg.data.split("::");
                 var dashTemp = String(msgcomponents[0]);
                 var dashboard = dashTemp.split("\)>")[1];
                 var topicname = msgcomponents[1];
                 console.log("I'm sending this to: " + topicname)
                 var username = msgcomponents[2];
                 var userMessage = msgcomponents[3];
                 console.log("topic is " + topicname)
                 var stringToDisplay = '<p class="message">' + username + ': ' + userMessage;
                 var dashTitle = String("{{dashboard.title}}")
                 if(dashboard.trim() == dashTitle.trim()) {
                    displayMessage(stringToDisplay, topicname);
                 }
              }
              }

              socket.onclose = function(){
                console.log("disconnecting from chat")

              }
                 displayMessage('<p class="event">Lost connection.');
              }

          } catch(exception){
             displayMessage('<p>Error'+exception);
          }



          $('.textbox').keypress(function(event) {
              if (event.keyCode == '13') {
                var id = $(event.target).attr("id")// get attribute for the textbox pressed
                var text = $(event.target).val()
                send(id, text);
                $(event.target).val("");
              }
          });

          $('.addTopicWindowBox').keypress(function(event) {
              if (event.keyCode == '13') {
                var id = $(event.target).attr("id")// get attribute for the textbox pressed
                var text = $(event.target).val()
                send_add_topic_window(text)
                $(event.target).val("");
                $('.addTopicWindow').remove();
                $('.addTopicWindowBox').remove();
              }
          });

      }//End connect
});

        function send_user_connected(username) {
              var dashboardname = "{{ dashboard.title }}"
              var dashboardConnectCommandMsg = dashboardname + ":--:" + username + ":--:" + "connect"
              console.log("Connecting user: " + username);
              try {
                  socket.send(dashboardConnectCommandMsg);
              }
              catch(exception) {
                 displayMessage('<p class="warning">');
              }
        }

        function send_user_disconnected(username) {
              var dashboardname = "{{ dashboard.title }}"
              var dashboardDisconnectCommandMsg = dashboardname + ":--:" + username + ":--:" + "disconnect"
              console.log("Disconnecting user: " + username);
              try {
                  socket.send(dashboardDisconnectCommandMsg);
              }
              catch(exception) {
                 displayMessage('<p class="warning">');
              }
        }

         function send_add_topic_window(name){
              var dashboardname = "{{ dashboard.title }}"
              var dashboardAddCommandMsg = dashboardname + ":-:" + name + ":-:" + "add"
              console.log("Sending topic window add message: " + dashboardAddCommandMsg);
              try {
                  socket.send(dashboardAddCommandMsg);
              }
              catch(exception) {
                 displayMessage('<p class="warning">');
              }
         }

         function send_delete_topic_window(){
              var name = windowToDelete
              var dashboardname = "{{ dashboard.title }}"
              var dashboardAddCommandMsg = dashboardname + ":-:" + name + ":-:" + "delete"
              try {
                  socket.send(dashboardAddCommandMsg);
              }
              catch(exception) {
                 displayMessage('<p class="warning">');
              }
         }

         function send(topicname, text){
              var username = "{{ user }}"
              var dashboardname = "{{ dashboard.title }}"
              var textToSend = dashboardname + "::" + topicname + "::" + username + "::" + text

              if(text==""){
                  displayMessage('<p class="warning">Please enter a message');
                  return ;
              }
              try{
                  socket.send(textToSend);
              } catch(exception){
                 displayMessage('<p class="warning">');
              }
          }

          function displayMessage(msg, topicname){
          console.log("DIsplaying message" + msg);
            $('#'+ topicname + ' #chatLog').append(msg+'</p>');

            $('#'+ topicname + ' #chatLog').scrollTop(1000000);
          }

        function promptForNewTopicWindow() {

             var topicWindowCount = $('.topicWindow').length;

             if (topicWindowCount < 6) {

                 var topicWindowString = '<div class="addTopicWindow"><b>' + "Name of new topic:" +
                '</b><input class="addTopicWindowBox"  type="text" name="message" placeholder="Message"></div>';

                $('.topics').append(topicWindowString);

                $('.topics .addTopicWindowBox').bind('keypress', function(event) {
                if (event.keyCode == '13') {
                    var id = $(event.target).attr("id")// get attribute for the textbox pressed
                    console.log("Event: " + event)
                    var text = $(event.target).val()
                    console.log("New topic window name: " + text)
                    send_add_topic_window(text)
                    $(event.target).val("");
                    $('.addTopicWindow').remove();
                    $('.addTopicWindowBox').remove();
                }
            });
          }
          else {
          //too many windows already exist to add another
          }

          }

          function addTopicWindow(displayTopicWindowName) {

            var sanitizedTopicWindowName = displayTopicWindowName.replace(/ /g, "---");
            //var sanitizedTopicWindowName = displayTopicWindowName
            console.log("Topic window name: " + sanitizedTopicWindowName)
            var topicWindowString = '<div id="' + sanitizedTopicWindowName + '" class="topicWindow"><b>' +
            displayTopicWindowName +
            '</b> <a href="javascript:windowToDelete = \'' + sanitizedTopicWindowName + '\'\;send_delete_topic_window()" class="deleteTopicWindow">X</a>' +
            '<div id="chatLog"></div><input class="textbox" id="' +
            sanitizedTopicWindowName +
            '" type="text" name="message" placeholder="Message"></div>';

            $('.topics').append(topicWindowString);
            console.log("Adding a new topic window with name: " + sanitizedTopicWindowName)

            $('.topics .textbox').bind('keypress', (function(event) {
            console.log("Keypress event on new window")
              if (event.keyCode == '13') {
                var id = $(event.target).attr("id")// get attribute for the textbox pressed
                var text = $(event.target).val()
                send(id, text)
                $(event.target).val("");
              }
          }));
          }

          function removeTopicWindow(displayTopicWindowName) {
            console.log("Removing topic window: " + displayTopicWindowName);
            windowToDelete = displayTopicWindowName
            var sanitizedTopicWindowName = displayTopicWindowName.replace(/ /g, "---");
            //var sanitizedTopicWindowName = displayTopicWindowName

            $('.topics ' + '#' + sanitizedTopicWindowName).remove();
          }

          function userConnected(username) {

            var sanitizedUsername = username.replace(/ /g, "---");
            var newUserString = '<div class="' + sanitizedUsername + '">' + username + '</div>';

            $('.connectedUsers').append(newUserString);
            console.log("User connected: " + username)


          };

          function userDisconnected(username) {
            console.log("User disconnected: " + username);
            var sanitizedUsername = username.replace(/ /g, "---");

            $('.connectedUsers ' + '.' + sanitizedUsername).remove();
          }


    </script>
</head>
<body>
	{% include "header.html"%}
	<div class="cdbody">
        <div class="topics" id="topics" name="topics">
		    <h1>{{ dashboard.title }}</h1><br />


        </div>
        <div class="connectedUsers">
		    <h1>Connected Users</h1>

	    </div>
        <div class="dashboardlinks">
            <div class="cdLinks">
                <div class="cdLink"><a href="javascript:promptForNewTopicWindow()">Add New Topic Window</a></div>
                <div class="cdLink"><a href="/DashboardPermissions/?dashboard={{dashboard.title}}">Dashboard Actions</a></div>
                <div class="cdLink"><a href="javascript:disconnect()">Disconnect</a></div>
            </div>
        </div>
	</div>

	{% include "footer.html"%}
</body>
</html>