<div id="cdheader" class="cdheader">
	<div class="headderrow">
		<div class="headerleft">
			<img src="/static/Logo.png" alt="Chat Dashboard Logo" href="/" />
		</div>
		{% if user.is_authenticated %}
		<div class="headerright">
			<!--<div class="rowright"><p>You are currently logged in as {{user}}.</p></div>
			<div class="rowright"><a href="/Logoff/">Logout</a></div>-->
			<p class="textright" >You are currently logged in as {{user}}.</p><br/>
			<div class="textright">
			{% if user.is_superuser %}
				<a href="/AdminFunctions/" >Admin Functions</a>  &nbsp
			{% endif %}
			<a href="/Logoff/" >Logout</a>
			</div>
		</div>
		{% else %}
		<div class="headerright">
			<div class="rowright"><a href="/Login/">Login</a></div>
		</div>
		{% endif %}
	</div>
</div>
